{
  "singleQuote": true,
  "semi": true,
  "editorconfig": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false
}
